# Entorno virtual
models/
confusion_matrix_models.py
test_model.py
venv/
cocoacpu/

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
