flask-sock 
simple-websocket
attrs==25.3.0
autocommand==2.2.2
btrfsutil==6.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
cryptography==45.0.4
dbus-python==1.4.0
discid==1.2.0
docopt==0.6.2
fasteners==0.19
filelock==3.18.0
gufw==26.4.0
idna==3.10
inflect==7.5.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
keyutils==0.6
lxml==5.4.0
Markdown==3.8.1
meson==1.8.2
more-itertools==10.7.0
mutagen==1.47.0
nftables==0.1
npyscreen==4.10.5
packaging==25.0
pacman_mirrors==5.0
picard==2.13.3
pillow==11.2.1
platformdirs==4.3.6
podman-compose==1.4.1
py3status==3.62
pycairo==1.28.0
pycparser==2.22
PyGObject==3.52.3
PyJWT==2.10.1
PyQt5==5.15.11
PyQt5_sip==12.17.0
pysmbc==1.0.25.1
PySocks==1.7.1
python-dateutil==2.9.0
python-dotenv==1.1.0
pywal==3.3.0
PyYAML==6.0.2
ranger-fm==1.9.4
reportlab==4.2.2
requests==2.32.4
setuptools==80.9.0
six==1.17.0
smbus==1.1
TBB==0.2
tqdm==4.67.1
typeguard==4.4.4
typing_extensions==4.13.2
udiskie==2.5.7
ufw==0.36.2
urllib3==2.4.0
wheel==0.45.1
